@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    font-family: "DM Sans", sans-serif;
}
/* ecommerce section syling */
.ecom1, .ecom2{
    display: flex;
    gap: 30px;
}

.ecom2{
    margin-top: 60px
}

main {
    margin: 70px 360px;
}
.ecom-text{
    text-align: center;
}

.ecom-text p {
    color: #1E0E62;
    font-size: 42px;
    font-weight: 700;
}

.ecom-text small, .product1 small{
    color: #15143966;
    font-size: 16px;
    font-weight: 400;
}

.ecom-btndes{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.product1 p {
    color: #1E0E62;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.product1 button {
    border: 1px solid #15143966;
    width: 70px;
    height: 40px;
    border-radius: 50px;
    background: none;
    color: #1E0E62;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.product1 button:hover {
    color: #fff;
    background: #1E0E62;
}

.product1 small {
    margin-top: 20px
}
/* ecommerce section styling ends  */

/* testimonial syling section starts */
.testimonial{
    margin-top: 200px;
}

.testimonial-section, .testimonial-section2 {
    display: flex;
    gap: 80px;
    margin-top: 70px;
}

.testimonial h3 {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: #1E0E62;
    letter-spacing: 2px;
}

.testimonial-div{
    display: flex;
    gap: 40px;
}
.text1{
    margin-top: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #15143966;
}

.text2, .p2{
    color: #1E0E62;
    font-weight: 700;
    font-size: 14px;
    word-spacing: 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
}

.testimonial-div small, .small1 {
    color: #15143966;
    font-size: 16px;
    font-weight: 400;
}

.testi{
    margin-left: 24%;
}
/* testimonial styling section ends  */

/* about us styling starts */
.about{
    margin-top: 150px;
}
.about h2 {
    text-align: center;
    color: #1E0E62;
    font-weight: 700;
    font-size: 42px;
}

.aboutus {
    display: flex;
    gap: 50px;
    margin-left: 29%;
    margin-top: 80px;
}

.about1 {
    margin-top: -14px;
}

.p1 {
    color: #15143966;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
